In [16]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName('Data').getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv('Clients-data1.csv', header=True, inferSchema=True)

# Calculate summary statistics
summary = df.describe()

# Convert PySpark DataFrame to Pandas DataFrame
summary_pandas = summary.toPandas()

# Show summary statistics using Pandas
print(summary_pandas)

  summary      ID       FinancialYear EthMPAO  Gender FiveYearAgeGroup  \
0   count  192220              192220  192220  192220           192220
1    mean    None  2018.0523046509209    None    None             None
2  stddev    None   2.567499664372246    None    None             None
3     min   MH100                2014   Asian  Female            00-04
4     max  MH9999                2022   Total   Total           Oct-14

  ORGANISATION_TYPE              TEAM_TYPE ACTIVITY_SETTING_CODE  \
0            192220                 192220                192215
1              None                   None                  None
2              None                   None                  None
3               DHB  Alcohol and Drug Team                    AV
4             Total                  Total                    YJ

  ACTIVITY_TYPE_CODE   NumberClientsSeen NumberClientsSeenFaceToFace  \
0             192212              192204                      192204
1               None  402.17130236623586          253.86800934428703
2               None  1254.4599018204735            928.901759409793
3                T01                   1
4              Total               24541                        9996

      NumberBednights      NumberContacts NumberFaceToFaceContacts
0              192202              192202                   192202
1  1103.9712802156064   4508.169451930781       2597.6200611856275
2   5471.484141040205  20407.728675667295       12453.502606612692
3              -20563                   0                        0
4              124894              469364                   285687

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Create a Spark session
spark = SparkSession.builder.appName("Missing").getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv('Clients-data1.csv', header=True, inferSchema=True)

# Display the count of missing values for each column
missing_values_spark = df.agg(*[F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df.columns])

# Convert to Pandas DataFrame and transpose
missing_values_pandas = missing_values_spark.toPandas().T

# Display the transposed result
missing_values_pandas.columns = ['Count of Missing Values']
missing_values_pandas

                             Count of Missing Values
ID                                                 0
FinancialYear                                      0
EthMPAO                                            0
Gender                                             0
FiveYearAgeGroup                                   0
ORGANISATION_TYPE                                  0
TEAM_TYPE                                          0
ACTIVITY_SETTING_CODE                              5
ACTIVITY_TYPE_CODE                                 8
NumberClientsSeen                                 16
NumberClientsSeenFaceToFace                       16
NumberBednights                                   18
NumberContacts                                    18
NumberFaceToFaceContacts                          18